@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Mulish', sans-serif;
}

header{
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    
}

.message{
    width: 100%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 4px;
    color: #fff;
    font-size: 0.9rem;
    background-color: #000;
}

.skip-links{
    border-bottom: rgb(128, 128, 128, 0.4) solid 1px;
    padding-top: 4px;
    padding-bottom: 7px;
}

.header-first{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.header-first h1{
    font-size: 1.4rem;
    font-weight: 900;
}

.header-first h1 span{
    font-size: 0.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* cart */

.account-cart-wrapper{
    display: flex;
    align-items: center;
}

.header-cart a{
    display: flex;
    align-items: center;
    color: black;
    font-size: 0.9rem;
}

.header-cart a img{
    width: 17px;
    margin-right: 2px;
}

a{
    text-decoration: none;
}

/* account */
.header-account{
    margin-right: 20px;
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #000;
    cursor: pointer;
}


.header-account img{
    width: 18px;
    margin-left: 8px;
}

.img-seta{
    transform: rotate(180deg);
}

.rotate{
    transform: rotate(0deg);
}

.account-config{
    width: 142px;
    position: absolute;
    top: 25px;
    left: -40px;
    padding: 5px 0;
    background-color: #fff;
    border: rgb(128, 128, 128, 0.4) solid 1px;
    display: none;
    justify-content: center;
    z-index: 1000;
}


ul{
    list-style: none;
}

.account-config ul li{
    text-align: center;
    margin-bottom: 6px;
}

.account-config ul li a{
    display: block;
    padding: 5px;
    text-transform: none;
    color: #000;
    font-size: 0.8rem;
    letter-spacing: 1px;
} 

.account-config ul li a:hover{
    text-decoration: underline;
}


/* header-center */

.search-wrapper{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.logo{
    width: 320px;
}

.input-search{
    position: absolute;
    right: 0;
    bottom: -20px;
    display: flex;
    align-items: center;
    border: #000 solid 1px;
    background-color: rgb(128, 128, 128, 0.1);
}

.input-search input{
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 2px;
    background: none;
    outline: none;
}

.input-search input::placeholder{
    color: #000;
    font-size: 0.8rem;
}

.input-search input:focus{
    width: 200px;
    animation-name: animSearch;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animSearch {
    0%{
        width: 200px;
    }
    100%{
        width: 250px;
    }
}

.input-search button{
    border: 0;
    background: transparent;
    padding: 4px;
}

.input-search button img{
    width: 22px;
}

/* nav-parent */
.nav-parent{
    width: 100%;
    /* height: 390px; */
    margin-top: 30px;
    background-color: #fff;
}


.feminine-mens-wrapper{
    margin: 0 auto;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.feminine-fashion a, .mens-fashion a{
    color: black;
    font-weight: 900;
    padding: 10px 30px;
    margin: 0 3px;
}

.feminine-fashion a:hover, .mens-fashion a:hover{
    background-color: #F7CDC0;
}


/* menu */
nav.menu-container{
    height: 38px;
    background-color: #F7CDC0;
}

#menu{
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
}

nav.menu-container ul li{
    text-align: center;
}

.active-submenu{
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 400;
    padding: 10px 20px;
}

.active-submenu:hover{
    font-weight: 900;
}

.submenu{
    display: none;
    width: 100%;
    background-color: #fff;
}

.active-submenu:hover + ul {
    display: block;
}

.submenu li a{
    color: #000;
}

#submenu-options{
    width: 100%;
    position: absolute;
    left: 0;
    top: 38px;
    padding: 0 50px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 4fr;
    background-color: #fff;
}

.menu1{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.menu2{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.menu1 li, .menu2 li{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.menu1 li, .menu2 li{
    font-size: 0.8rem;
}

.menu1 li:first-child, .menu2 li:first-child{
    margin: 20px 0;
    font-size: 1rem;
}

.title-submenu{
    width: 100%;
    grid-column: 1/4;
    padding: 4px 0;
    border-bottom: #000 solid 1px;
}

/* pictures-menu */
.pictures-menu{
    grid-column: 3/4;
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.pictures-menu li a img{
    width: 100%;
}

/* main */

main{
    width: 184%;
    
    padding-top: 250px;
}

.container-title{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-title h1{
    font-size: 4.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-top: 10px;
}

.container-title p{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}

.container-title img{
    width: 30px;
    margin-top: 50px;
}


/* blocos */

.bloco{
    width: 1120px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #c9eade;
}

.first{
    margin-top: 50px;
}

.container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    text-align: right;
}

.content h1{
    font-size: 2rem;
    letter-spacing: 3px;
}

.content h4{
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.content p{
    font-size: 0.9rem;
}

.container a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    background-color: #000;
    padding: 10px 30px;
    margin-top: 25px;
}


.image-bloco{
    width: 50%;
    height: 100%;
    text-align: center;
}

.image-bloco img{
    width: 100%;
}

/* bloco version 2 */
.bloco2{
    width: 1120px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #eba3a3;
}

.bloco2 > .container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bloco2 > .container .content{
    text-align: left;
}

.bloco2 > .container .content h1{
    font-size: 2rem;
    letter-spacing: 3px;
}

.bloco2 > .container .content h4{
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.bloco2 > .container .content p{
    font-size: 0.9rem;
}

.bloco2 > .container.container a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    background-color: #000;
    padding: 10px 30px;
    margin-top: 25px;
}


.bloco2 > .image-bloco{
    width: 50%;
    height: 100%;

}

.bloco2 > .image-bloco img{
    width: 100%;
}

/* footer */
footer{
    width: 184%;
}

.newsletter{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 20px;
    background-color: #e5d7cc;
}

.newsletter h1{
    font-size: 2.2rem;
    font-weight: 900;
    margin-right: 10px;
}

.newsletter input{
    width: 35%;
    border: 0;
    outline: 0;
    padding: 10px 0;
    padding-left: 15px;
}

.newsletter input::placeholder{
    color: #000;
}

.newsletter button{
    color: #fff;
    background-color: #000;
    border: 0;
    padding: 0 20px;
    margin: 0 2px;
}

/* contact */
.contact{
    display: grid;
    grid-template:  1fr / 1fr 1fr 1fr 1fr ;
    padding: 30px;
    border-bottom: black solid 1px;
}

.contact1{
    grid-column: 1/2;
    margin: 0 auto;
}
.contact2{
    grid-column: 2/3;
    margin: 0 auto;
}
.contact3{
    grid-column: 3/4;
    margin: 0 auto;
}
.contact4{
    grid-column: 4/5;
    margin: 0 auto;
}

.contact h1{
    font-size: 1.1rem;
    font-weight: 900;
    /* margin-top: 30px; */
}

.contact ul li{
    margin-bottom: 8px;
}

.contact ul li a{
    color: #000;
}

/* payment */
.payment{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    margin-top: 40px;
}

.payment h1 {
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.payment img{
    width: 100%;
}

/* exclusive */
.exclusive{
    display: flex;
    justify-content: center;
    gap: 0 10px;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #f6f6f6;;
}

.logoFooter{
    width: 100px;
}

.exclusive p{
    font-size: 0.8rem;
}


.by{
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 0.8rem;
    background-color: #000;
}

.btn-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

#checkbox-menu{
    position: absolute;
    opacity: 0;
}

label{
    cursor: pointer;
    position: relative;
    display: block;
    width: 30px;
    height: 22px;
}

label span{
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 30px;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1){
    top: 0;
}
label span:nth-child(2){
    top: 8px;
}
label span:nth-child(3){
    top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1){
    top: 8px;
    transform: rotate(-45deg);
}
#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(3){
    top: 8px;
    transform: rotate(45deg);
}
.active{
    display: flex;
    transform: rotate(0);
}

#submenu-options{
    display: grid;
}


/* media query */

@media (min-width: 1000px){
    .btn-mobile{display: none;}
}


@media (max-width: 1000px) {
    .newsletter input{
        width: 100%;
        margin: 5px auto;
    }
    .container-title{  
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 600px)
{
  
    body{
        width: 100%;
        margin: 0 auto;
    }

    header{
        width: 100vw;
    }

    .message p{
        font-size: 0.8rem;
    }
    

    /* menu */
    .nav-parent{
        display: none;
    }
    
    .activeMenu{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }

   .feminine-mens-wrapper{
       display: flex;
       flex-direction: row;
    }

    #menu{
        display: flex;
        flex-direction: column;
    }

    .feminine-fashion, .mens-fashion{
        display: flex;
        flex-direction: row;
        /* text-align: unset; */
    }

    .feminine-fashion a, .mens-fashion a{
        padding: 10px 10px;
    }

    nav.menu-container{
        background-color: #fff;
    }

    #submenu-options{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .menu1 li, .menu2 li{
        justify-content: center;
    }

    #submenu-options{
        display: none;
    }

    .pictures-menu{
        display: none;
        overflow-y: scroll;
        height: 100vw;
    }

    /* search */
    .header-center{
        display: flex;
        justify-content: center;
    }

    .search-wrapper{
        width: 100%;
        justify-content: center;
    }

    .logo{
        width: 180px;
    }

    .input-search{
        position: static;
        align-items: center;
        margin-left: 10px;
        border: 0;
        background-color: #fff;
    }

    .input-search input{
        display: none;
        border: #000 1px solid;
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;
    }
    .activeInput input{
        display: block;
    }

    .input-search button img{
        width: 17px;
    }


    /* cart e account */
    .skip-links{
        width: 100%;
    }

    .header-first{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .account-cart-wrapper{
        margin-top: 5px;
    }

    /* main */
    
    main{
        width: 100%;
    }


    .container-title h1{
        font-size: 2rem;
    }

    .container-title p{
        text-align: center;
        font-size: 0.8rem;
    }

    .bloco, .bloco2{
        width: 100%;
        height: 100%;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 10px;
        padding-bottom: 0;
    }


    .image-bloco{
        width: 100%;
        margin-top: 20px;
    }


    .content p{
        text-align: center;
    }

    .content{
        text-align: center;
    }
    
    .first{
        margin-top: 50px;
    }

    .bloco2 > .container .content{
        text-align: center;
    }

    .image-bloco img, .bloco2 > .image-bloco img{
        width: 80%;
    }

    .bloco2 .image-bloco{
        width: 100%;
    }
    .bloco2 .content a{
        margin-bottom: 20px;
    }
    
    /* footer */
    footer{
        width: 100%;
    }

    .newsletter{
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    .newsletter h1{
        font-size: 1.5rem;
    }

    .newsletter input{
        width: 90%;
        margin: 5px auto;
    }

    .newsletter button{
        width: 90%;
        margin: 0 auto;
        padding: 10px 0;
    }

    .contact{
        width: 100%;
        grid-template: 1fr 1fr 1fr 1fr / 1fr ;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .contact2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .contact3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .contact4{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    /* footer */

    .payment{
        text-align: center;
    }
    .exclusive{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}


/* @media (max-width: 900px){

    .image-bloco{
        width: 60%;
        margin: 0 auto;
    }

    .bloco2 > .image-bloco{
        width: 60%;
        margin: 0 auto;
    }
} */


